@media screen
  .show-crop-marks
    .page
      &:not(:only-child)
        border-bottom 1px dotted #0ff
      &:not(:only-child):after
        &:not(:only-child)
          color #0ff
          content 'page break'
          position absolute
          bottom 0.5em
          left 0.5em
          font-size 70%
    .content
      border 1px solid #0ff

.document
  box-sizing content-box
  left 0.25in
  right 0.25in
  top 0.25in
  bottom 0.25in
  position absolute
  overflow hidden
  padding 0.23in

.hide-crop-marks
  .document
    left 0
    right 0
    top 0
    bottom 0
    padding 0
  .content
    margin 0
  .crop
    display none
  .background
    padding 0
  .background-image
    top 0
    left 0
    right 0
    bottom 0

@media print and (min-width: 590pt) and (max-width: 675pt) and (min-height: 835pt) and (max-height: 915pt)
  .page
    height 99.9vh !important

@media print and (min-width: 1180pt) and (max-width: 1260pt) and (min-height: 1680pt) and (max-height: 1760pt)
  .page
    height 99.9vh !important

@media (min-width: 280pt) and (max-width: 380pt) and (min-height: 590pt) and (max-height: 700pt)
  .page
    height 99.9vh !important

body
  &.show-crop-marks
    font-size 0.92em

.crop
  position absolute
  width 0.5in
  height 0.5in
  &.top-left
    top 0
    left 0
    .right
      position absolute
      right 1px
      top 0
      bottom 3mm
      border-right 1px solid #000
      &:before
        content ''
        position absolute
        right 0px
        top 0
        bottom 0mm
        border-right 1px solid #fff
      &:after
        content ''
        position absolute
        right -2px
        top 0
        bottom 0mm
        border-right 1px solid #fff
    .bottom
      position absolute
      right 3mm
      left 0
      top 0
      bottom 1px
      border-bottom 1px solid #000
      &:before
        content ''
        position absolute
        right 0px
        bottom 0mm
        left 0
        border-bottom 1px solid #fff
      &:after
        left 0
        content ''
        position absolute
        bottom -2px
        right 0
        border-bottom 1px solid #fff
  &.top-right
    top 0
    right 0
    .left
      position absolute
      left 1px
      top 0
      bottom 3mm
      border-right 1px solid #000
      &:before
        content ''
        position absolute
        right 0px
        top 0
        bottom 0mm
        border-right 1px solid #fff
      &:after
        content ''
        position absolute
        right -2px
        top 0
        bottom 0mm
        border-right 1px solid #fff
    .bottom
      position absolute
      left 3mm
      right 0
      top 0
      bottom 1px
      border-bottom 1px solid #000
      &:before
        content ''
        position absolute
        right 0px
        bottom 0mm
        left 0
        border-bottom 1px solid #fff
      &:after
        left 0
        content ''
        position absolute
        bottom -2px
        right 0
        border-bottom 1px solid #fff
  &.bottom-right
    right 0
    bottom 0
    .left
      position absolute
      left 1px
      top 3mm
      bottom 0mm
      border-left 1px solid #000
      &:before
        content ''
        position absolute
        left 0px
        top 0
        bottom 0mm
        border-left 1px solid #fff
      &:after
        content ''
        position absolute
        left -2px
        top 0
        bottom 0mm
        border-left 1px solid #fff
    .top
      position absolute
      left 3mm
      right 0
      top 1px
      bottom 0px
      border-top 1px solid #000
      &:before
        content ''
        position absolute
        right 0px
        top 0mm
        left 0
        border-top 1px solid #fff
      &:after
        left 0
        content ''
        position absolute
        top -2px
        right 0
        border-top 1px solid #fff
  &.bottom-left
    bottom 0
    .right
      position absolute
      right 1px
      top 3mm
      bottom 0mm
      border-right 1px solid #000
      &:before
        content ''
        position absolute
        right 0px
        top 0
        bottom 0mm
        border-right 1px solid #fff
      &:after
        content ''
        position absolute
        right -2px
        top 0
        bottom 0mm
        border-right 1px solid #fff
    .top
      position absolute
      right 3mm
      left 0
      top 1px
      bottom 0px
      border-top 1px solid #000
      &:before
        content ''
        position absolute
        right 0px
        top 0mm
        left 0
        border-top 1px solid #fff
      &:after
        left 0
        content ''
        position absolute
        top -2px
        right 0
        border-top 1px solid #fff

