@import "crop.css"

*
  -webkit-margin-before 0 
  -webkit-margin-after 0

html
  -webkit-font-smoothing antialiased
  font-family helvetica, arial, sans-serif
  color brand-color

body
  position relative
  margin 0
  color #484747

.page 
  position relative
  width 100vw
  height 100vh

.background
  width 100%
  height 100%
  position absolute
  top 0in
  left 0
  padding 0.25in
  box-sizing border-box

.background-color
  width 100%
  height 100%
  mix-blend-mode multiply

.background-image
  position absolute
  top 0.25in
  right 0.25in
  bottom 0.25in
  left 0.25in
  background-size cover
  background-position center
  z-index -1
  mix-blend-mode multiply

.content
  display flex
  justify-content space-between
  flex-direction column
  align-items flex-start
  height 100%
  padding 1em
  position relative
  box-sizing border-box

.logo
  height 2em
  -webkit-align-self flex-end
  -ms-flex-item-align end
  align-self flex-end
  svg
    height 100%

.uploaded-logo
  height 100%

.call-to-action
  margin-top 1em !important
  font-size 0.8em
  text-decoration none
  padding 0.7em 1em
  display inline-block
  font-weight 800
  border 0.1em solid #fff

h1, h2, h3, h4, h5, h6
  margin 0
  line-height 1em
  


/*////////////// MEDIA QUERIES //////////////*/

/* LANDSCAPE */
@media (min-aspect-ratio: 20/1) {}

@media (min-aspect-ratio: 20/2) {}

@media (min-aspect-ratio: 20/3) {}

@media (min-aspect-ratio: 20/4) {}

@media (min-aspect-ratio: 20/5) {}

@media (min-aspect-ratio: 20/6) {
  .content {
    flex-direction: row;
    align-items: center;
  }
  .logo {
    align-self: center;
  }
  body {
    font-size 9vh !important;
  }
}

@media (min-aspect-ratio: 20/7) {}

@media (min-aspect-ratio: 20/8) {}

@media (min-aspect-ratio: 20/9) {}

@media (min-aspect-ratio: 2/1) {}

@media (min-aspect-ratio: 20/11) {}

@media (min-aspect-ratio: 20/12) {}

@media (min-aspect-ratio: 20/13) {}

@media (min-aspect-ratio: 20/14) {}

@media (min-aspect-ratio: 20/15) {}

@media (min-aspect-ratio: 20/16) {}

@media (min-aspect-ratio: 20/17) {}

@media (min-aspect-ratio: 20/18) {}

@media (min-aspect-ratio: 20/19) {}

/* SQUARE */
@media (min-aspect-ratio: 1/1) {}

/* PORTRAIT */
@media (max-aspect-ratio: 19/20) {}

@media (max-aspect-ratio: 18/20) {}

@media (max-aspect-ratio: 17/20) {}

@media (max-aspect-ratio: 16/20) {}

@media (max-aspect-ratio: 15/20) {}

@media (max-aspect-ratio: 14/20) {}

@media (max-aspect-ratio: 13/20) {}

@media (max-aspect-ratio: 12/20) {}

@media (max-aspect-ratio: 11/20) {}

@media (max-aspect-ratio: 1/2) {
  .logo {
    align-self: center;
  }
  .content {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-aspect-ratio: 9/20) {
  body {
    font-size 6vw !important;
  }
}

@media (max-aspect-ratio: 8/20) {}

@media (max-aspect-ratio: 7/20) {}

@media (max-aspect-ratio: 6/20) {}

@media (max-aspect-ratio: 5/20) {}

@media (max-aspect-ratio: 4/20) {}

@media (max-aspect-ratio: 3/20) {}

@media (max-aspect-ratio: 2/20) {}

@media (max-aspect-ratio: 1/20) {}

// ISO 216 (eg. A4, A3, A2) PRINT MEDIA QUERY

// PORTRAIT
@media (min-aspect-ratio: 3/5) and (max-aspect-ratio: 1000/1414) {
  .background-color {
    background-color: blue !important;
  }
}

// PORTRAIT
@media (min-aspect-ratio: 1000/1414) and (max-aspect-ratio: 3/5) {
  .background-color {
    background-color: red !important;
  }
}
